{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Welcome</h1>
        <p>Lorem ipsum..</p>
        <a href="{{ path('admin.productList') }}" class="btn btn-outline-success">Products</a>
        <a href="{{ path('admin.orderList') }}" class="btn btn-outline-primary">Orders</a>
    </div>
{% endblock %}
