{% extends 'base.html.twig' %}

{% block title %}All Product List!{% endblock %}

{% block body %}
    <h1>Sale</h1>
    <p>Lorem ipsum..</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags("basket") }}
{% endblock %}
